.head {
    width: 500px;
    height: 50px;
    background-color: #00ffcc;
}
.nav{
    width: 70px;
    height: 500px;
    background-color: #00ffff;
    display: flex;
}
.footer {
    width: 500px;
    height: 50px;
    background-color: #00ffc4;
}
.xx {
    padding: 10px;
    justify-content: space-around;
    float: left;
}
.xy{
    flex: auto;
    padding: 10px;
    justify-content: space-around;

}
.xx:hover{
    background-color: yellow;

}
.xy:hover{
    background-color: yellow;

}








